*.iml
.gradle
/local.properties
/.idea/caches
/.idea/layers.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.log
*.bak
*.orig
*.swp
~*
*~
*.lock
*.db
*.db-journal
*.db-shm
*.db-wal
credentials.properties
